
<article id="content-proper">
    {{highlightable_content}}
</article>
<footer id="highlighter">
    <center>
        <form>
            <input
                type='text'
                id='selected-highlight'
                name='highlight'
                value=""
                style="display: none;"
            >
            <button
                id="highlight-button"
                hx-post="{{save_highlight_url}}"
                hx-swap="none"
                disabled
                _="
                on highlightSaved
                    log 'highlight detected' then
                    add [@hidden='true'] to #highlighter then
                    js
                        let notyf = new Notyf();
                        notyf.success('Highlight saved!')
                        if (window.getSelection) {
                            if (window.getSelection().empty) {  // Chrome
                              window.getSelection().empty();
                            } else if (window.getSelection().removeAllRanges) {  // Firefox
                              window.getSelection().removeAllRanges();
                            }
                        } else if (document.selection) {  // IE?
                            document.selection.empty();
                        }
                    end
                "
            >Save Highlight
            </button>
        </form>
    </center>
</footer>

{% block extra_js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/highlighter.js' %}"></script>
{% endblock extra_js %}
