
<article id="content-proper">
    {{highlightable_content}}
</article>
<footer id="highlighter">
    <center>
        <form>
            <input
                type='text'
                id='selected-highlight'
                name='highlight'
                value=""
                style="display: none;"
            >
            <button
                id="highlight-button"
                hx-post="{{save_highlight_url}}"
                hx-target="#highlighter"
                hx-swap="none"
                disabled
            >Save Highlight
            </button>
        </form>
    </center>
</footer>

{% block extra_js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/highlighter.js' %}"></script>
{% endblock extra_js %}